<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<h1> I Ran Out of Things to Say!! Hey Hey</h1>

<p> djdfij jewiofjeow oewjmoiwejdow eijoewijowjerew jewoijew
weoirewjiow iwejriowje r ewojroiewjr  joriewj oiejrowiejr  eowjroi
iewjrewoir wijer oeiwj r rjeowjr woe rjeroiwj rej roeiwjr ew jerowi r and we are foifo fopeor wrso the  dfklsjlkfdj</p>


