<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1> Thank You For Stopping <font color="red">HERE</font></red></h1>
<p> We are glad to have you and we can't wait to see you again.
<br> We love our guests. You are a great additional to our <big>team!</big>
</p>

